mixin og-meta(data)
  meta(property='og:title' content=data.title || project.title)
  meta(property='og:type' content='article')
  meta(property='og:url' content=project.repository.url)
  meta(property='og:image' content=data.image || 'TODO: Share image')
  meta(property='og:description' content=data.description || 'TODO: Describe Me')
  meta(property='og:site_name' content=data.site_name || project.title)
